<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<div class="container">
  <div class="sections">
    <section>
      <img src="../../../assets/img/surtido-camisetas.jpg" alt="">
    </section>
    <div class="texto">
      <h2>Déjanos vestirte como dios manda</h2>
      <br>
      <br>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, fugiat. Odit non sed,
        maxime nostrum rem commodi dolorem tempora quis ipsam voluptatibus dicta, iure,
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod officiis pariatur voluptate dolorum
        corporis veniam ab id alias voluptatum,
        atque quisquam consequatur esse sit nostrum suscipit harum consectetur
        beatae inventore!ut voluptate voluptas fuga molestiae magni!
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum, debitis! Molestias dolorem rem, enim,
        vel minus recusandae temporibus corrupti quasi et laborum ratione natus laudantium cupiditate
        quibusdam dolores eveniet similique.
      </p>
    </div>
  </div>
</div>
