<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


<div class="container">
  <div class="text-top">
    <h1>
      Bienvenido a la tienda online de ropa urbana
    </h1>
    <br>
    <h2>
      ¿Cómo podemos ayudarte?
    </h2>
  </div>
</div>

<div class="container2">
  <div class="card">

    <h3>
      Ropa hombre
    </h3>
    <a routerLink="items" class="card_img">
      <img src="../../../assets/img/imagenHombre1.jpg" alt="">
    </a>
    <button class="button">
      <i class="fa-solid fa-heart"></i>
    </button>

  </div>

  <div class="card">
    <h3>
      Ropa mujer
    </h3>
    <a routerLink="items2" class="card_img">
      <img src="../../../assets/img/imagenMujer1.jpg" alt="">
    </a>
    <button class="button">
      <i class="fa-solid fa-heart"></i>
    </button>
  </div>

</div>
